@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

// Colors
$body-color: #f0f0f0;
$main-color: #f58233;
$main-color-negative: #fff;
$main-text-color: #333;

// Fonts
$main-font: 'Roboto', sans-serif;